<div class="container mt-3">
  <div *ngIf="photos == null">
    No Photos to Approve.
  </div>
  <div class="row">
    <div *ngFor="let photo of photos" class="col-lg-2 col-md-3 col-sm-6">
      <div class="card" style="width: 200px;">
        <h1>{{photo.user.knownAs}}</h1>
        <img class="card-img" src="{{photo.url}}" alt="{{photo.id}}">
        <div class="btn-group">
          <button class="btn btn-success" (click)="approvePhoto(photo.id)">Approve</button>
          <button class="btn btn-danger" (click)="rejectPhoto(photo.id)">Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>